<header class="app-header">
  <h1>Café &amp; Bakery Inventory (Angular)</h1>

  <nav class="nav-bar">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a routerLink="/manage" routerLinkActive="active">Manage items</a>
    <a routerLink="/search" routerLinkActive="active">Search &amp; filter</a>
    <a routerLink="/privacy-security" routerLinkActive="active">
      Privacy &amp; security
    </a>
    <a routerLink="/help" routerLinkActive="active">Help</a>
  </nav>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
<footer class="app-footer">
  <p>&copy; 2025 Café &amp; Bakery Inventory App. All rights reserved.</p>